@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,700&display=swap');

*:focus {
  outline: none;
}

body {
  color: white;
  background: black url("./assets/img/background.jpg") no-repeat fixed center;
  font-family: 'Roboto', sans-serif;
}

#body::-webkit-scrollbar-track {
  background-color: transparent;
}

#body::-webkit-scrollbar {
  width: 0.6rem;
  background-color: transparent;
}

#body::-webkit-scrollbar-thumb {
  background-color: #17161b;
}
